body{
    margin: 0;
    font-family: 'Poltawski Nowy', serif;
    background-color:blanchedalmond ;
    
}
header,footer{
    background-color: gray;
    color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    min-width: 100%;
}
.emoji, .result-section, .move, .winLogsec,.reset{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.result-section , .move, .winLogsec {
    color: grey;
    font-weight: 900;
}
.btn {
    background: none;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    
}
.reset-btn {
    background-color: grey;
    color: blanchedalmond;
    border: 1px solid;
    height: 50px;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.reset-btn:hover {
    background-color: blanchedalmond;
    color: grey;
}
footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}
@media (max-width: 600px) {
    .for-mobile{
        height: 65px;
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .for-mobile{
        height: 130px;
    }
}